*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
main{
    background:#CAF0F8;

}
.home{
    background:#9DE3F2;  
    height:100vh;
    
    
}
section{
    background:#CAF0F8;

    
}
.three{
    background: #9DE3F2;
    background-size: cover;
}
.four{
    background: #9DE3F2;
}

nav{
    margin:20px;
    padding:15px;
    padding-top:5px;
    margin-top:5px;
}
a{
    color:#0355BC;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}
span{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color:#0355BC;
}
.ov{
    color: #48CAE4;
}

button{
    background-color:#0355BC;
    cursor: pointer;
    font-style: normal;
    font-weight: 800;
    height: 7vh;
    border-radius:5px;
    color: #fffffc;
    width: 15%;
    border: none;  
    align-self: start;
}
.btn1{
    background-color: #48CAE4;
    width:13%;
    
}
h1,h2,h3,h4,h5,h6{
    font-weight:800;
    font-family: 'Raleway', sans-serif;
}
.container-a{
    display:flex;
    flex-direction: column;
    text-align: justify;
    margin:20px;
    padding:15px;
    width:45%;
    

}
.main{
    font-size: 55px;
    word-wrap: normal;
    
    
}
.two{
    color:#060202;
    font-weight: 600px;
}
.btn3{
    width:30%;
    margin-top:20px;
}
.container-b{
    display: flex;
    text-align: left;
    color:#060202;
    
}
.content-box{
    background-color:#fffffc;
    border-radius:5px;
    margin:20px;
    padding:20px;
    padding-top:5px;
    height:19vh;
    width:20%;
}
#box{
    height: 5vh;
}
#p{
    font-size: 12px;
}
.container-c{
    display:flex;
    flex-direction: row;
    height:85vh;
    color:#fffffc;
    margin:90px;
    align-items: center;
    justify-content: center;
    flex:50%;
    
    
   
}
.content-box1{
    background-color: #0355BC;
    border: none;
    padding-left: 10px;
    justify-content: space-around;
    
    

}

.container-c img{
    height:60vh;
    border:none;
    flex:20%;
    
}
.head{
    font-size:36px;
    
}
.we{
    font-size:13px;
    padding:30px;
    padding-left: 10px;
    
}
.small{
    font-size: 12px;
    color: #466870;
    margin-left:50px;
    
}
.words{
    word-spacing: 1rem;
    
}
.container-3 h3{
    font-size:18px; 
    color:#fffffc; 
    margin-left:10px;
}
.container-3 h1{
    margin-left:50px;
    font-size: 36px;
    color:#fffffc;
}
.container-3 p{
    font-size:12px;
    color:#fffffc;
    margin-top: 20px ;
    margin-left:10px;
    font-weight: 600px;
}
.container-3 img{
    border:none;
    height:10vh;
}


.container-d{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    
    
    
}
.container-e{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:60px;
      
}
.content-box2{
    background-color: #0355BC;
    border: none;
    color: white;
    height:30vh;
    border-radius:5px;
    width:25%;
    
 
}
.content-box3{
    background-color: #E5E5E5;
    border: none;
    color: white;
    height:30vh;
    border-radius:5px;
    width:25%;
}
.container-4 p{
    font-size:14px;
    color: #060202;
    margin:10px;
}
.content-box3 span{
    font-size:14px;
}
.container-4{
    display:flex;
    flex-direction:column;
    
}
.container-4 h3{
    color: #1D7F96;
    margin:10px;
}
.container-4 h4{
    color:#E5E5E5;
    margin:30px;
    margin-left:50px;
    
}
.container-4 h1{
    margin-left:50px;
    font-size: 36px;
    color:#fffffc;
}
.container-5 h1{
    margin:30px;
    margin-left:50px;
    font-size: 36px;
    color:#fffffc;
}
.container-5 h3{
    color: #1D7F96;
    margin:10px;
}
.container-5 p{
    font-size:14px;
    color: #060202;
    margin:10px;
}
.container-5 h4{
    margin:30px;
    margin-left:50px;
    
}
.container-5 .content-box3{
    height:20vh;
}
.container-5 .content-box2{
    height:20vh;
}
.container-6{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-6 .content-box2{
    padding: 50px;
    padding-top:90px;
    border:none;
    border-radius: 0%;
    height:90vh;
}
.container-6 input{
    height:7vh;
    border-radius: 5px;
    width: 80%;
    border:none;
    margin-top: 20px;
}
.container-6 button{
    width:80%;
    margin-top: 20px;
    border:none;

}


@media  screen and (max-width:1024px){
    
    
}
@media screen and (max-width:700px){

}
@media  screen and (max-width:480px){
    main{
        background:#CAF0F8;
    
    }
    .home{
        background:#9DE3F2;  
        height:100vh;
        
        
    }
    section{
        background:#CAF0F8;
    
        
    }

    .three{
        background: #9DE3F2;
        background-size: cover;
    }
    .four{
        background: #9DE3F2;
    }
    
    nav{
       background:#0355BC;
       width:100%;
       margin:0;
       height:10vh;
    }
   
    span{
        font-weight: bold;
        font-size: 24px;
        color:#fffffc;
    }
    .ov{
        color:#fffffc;
    }
    
    
    button{
        background-color:#9DE3F2;
        cursor: pointer;
        font-style: normal;
        font-weight: 800;
        height: 7vh;
        border-radius:5px;
        color: #9DE3F2;
        border: none;  
        align-self: start;
    }
    .btn1{
        background-color: #9DE3F2;
        
        
    }
    h1,h2,h3,h4,h5,h6{
        font-weight:800;
        font-family: 'Raleway', sans-serif;
    }
    .container-a{
        display:flex;
        flex-direction: column;
        margin:20px;
        padding:15px;
        width:45%;
        
    
    }
    .main{
        font-size: 36px;
        word-wrap: normal;
        
        
    }
    .thing{
        margin:50px;
        color:#9DE3F2;
    }
    .two{
        color:#060202;
        font-size:14px;
        font-weight: 600px;
    }
    .btn3{
        color:#fffffc;
        background:#0355BC;
        width:50%;
        margin-top:20px;
        font-size:12px
    }
    .container-b{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
        color:#fffffc;
        padding-top: 10px;
        margin:20px;
        padding:15px;
        
    }
    .content-box{
        background-color:#0355BC;
        width:80%;
    }
    #box{
        height: 5vh;
    }
    #p{
        font-size: 12px;
    }
    .container-c{
          display:flex;
          flex-direction: column;
       
    }
    .content-box1{
        background-color: #0355BC;
        border: none;
    }
    
    .container-c img{
        margin:20px;
        padding:15px;
        border:none;
        flex:20%;    
    }
    .head{
        font-size:36px;
        
    }
    .we{
        font-size:13px;
        padding:30px;
        padding-left: 10px;
        
    }
    .small{
        font-size: 12px;
        color: #466870;
        margin-left:50px;
        
    }
    .words{
        word-spacing: 1rem;
        
    }
    .container-3 h3{
        font-size:14px; 
        color:#fffffc; 
        margin-left:10px;
    }
    .container-3 h1{
        margin-left:30px;
        font-size: 24px;
        color:#fffffc;
    }
    .container-3 p{
        font-size:12px;
        color:#fffffc;
        font-weight: 400px;
    }
    .container-3 img{
        border:none;
        height:2vh;
    }
    
    
    .container-d{
        display:flex;
        flex-direction: column;
        align-content: center;
    
    }
    .container-e{
        display:flex;
        flex-direction: column;
        align-content:center;
          
    }
    .content-box2{
        background-color: #0355BC;
        border: none;
        color: white;
        margin:20px;
        padding:15px;
        margin-top:30px;
        border-radius:5px;
        width:80%;
        
     
    }
    .content-box3{
        background-color: #E5E5E5;
        border: none;
        color: white;
        margin:20px;
        padding:15px;
        margin-top:30px;
        border-radius:5px;
        width:80%;
    }
    .container-4 p{
        font-size:14px;
        color: #060202;
        margin:10px;
    }
    .content-box3 span{
        font-size:14px;
    }
    .container-4{
        display:flex;
        flex-direction:column;
        
    }
    .container-4 h3{
        color: #1D7F96;
        margin:10px;
    }
    .container-4 h4{
        color:#E5E5E5;
        margin:30px;
        margin-left:50px;
        
    }
    .container-4 h1{
        margin-left:30px;
        font-size: 36px;
        color:#fffffc;
    }
    .container-5 h1{
        margin:30px;
        margin-left:30px;
        font-size: 36px;
        color:#fffffc;
    }
    .container-5 h3{
        color: #1D7F96;
        margin:10px;
    }
    .container-5 p{
        font-size:14px;
        color: #060202;
        margin:10px;
    }
    .container-5 h4{
        margin:30px;
        margin-left:50px;
        
    }
    .container-5 .content-box3{
        height:30vh;
    }
    .container-5 .content-box2{
        height:30vh;
    }
    .container-6{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .container-6 .content-box2{
        padding: 50px;
        padding-top:90px;
        border:none;
        border-radius: 0%;
        height:90vh;
    }
    .container-6 input{
        height:7vh;
        border-radius: 5px;
        width: 80%;
        border:none;
        margin-top: 20px;
    }
    .container-6 button{
        width:80%;
        margin-top: 20px;
        border:none;
    
    }
}
    

