*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
main{
    background: linear-gradient(90.2deg, rgba(29, 127, 150, 0.58) 2.24%, rgba(63, 124, 136, 0.78) 17.82%, #466870 99.83%), #CAF0F8;
    flex-flow: column;

}
.home{
    background:linear-gradient(90.05deg, #1D7F96 0.63%, rgba(29, 127, 150, 0.58) 52.78%, rgba(33, 130, 153, 0.54) 95.67%), #1D7F96;  
    height:100vh;
    
}
section{
    background: linear-gradient(90.2deg, rgba(29, 127, 150, 0.58) 2.24%, rgba(63, 124, 136, 0.78) 17.82%, #466870 99.83%), #CAF0F8;
    height:100vh;

    
}
.three{
    background: linear-gradient(90.2deg, rgba(29, 127, 150, 0.58) 2.24%, rgba(63, 124, 136, 0.78) 17.82%, #466870 99.83%), #CAF0F8;
    background-size: cover;
}
.four{
    background:linear-gradient(90.2deg, rgba(29, 127, 150, 0.58) 2.24%, rgba(63, 124, 136, 0.78) 17.82%, #466870 99.83%), #C48CAE;
}
nav{
    margin:20px;
    padding:15px;
    padding-top:5px;
    margin-top:5px;
}
a{
    color:#023E8A;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}
span{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color:#023E8A;
}
.ov{
    color: #48CAE4;
}

button{
    background-color:#023E8A;
    cursor: pointer;
    font-style: normal;
    font-weight: 800;
    height: 7vh;
    border-radius:5px;
    color: #fffffc;
    width: 15%;
    border: 1px solid #fffffc;  
    align-self: start;
}
.btn1{
    background-color: #48CAE4;
    width:13%;
    
}
h1,h2,h3,h4,h5,h6{
    font-weight:800;
    font-family: 'Raleway', sans-serif;
}
.container-a{
    display:flex;
    flex-direction: column;
    text-align: justify;
    margin:20px;
    padding:15px;
    width:45%;
    

}
.main{
    font-size: 55px;
    word-wrap: normal;
    
    
}
.two{
    color:#060202;
    font-weight: 600px;
}
.btn3{
    width:30%;
    margin-top:20px;
}
.container-b{
    display: flex;
    text-align: left;
    color:#060202;
    
}
.content-box{
    background-color:#fffffc;
    border-radius:5px;
    margin:20px;
    padding:20px;
    padding-top:10px;
    height:19vh;
    width:20%;
}
#box{
    height: 5vh;
}
#p{
    font-size: 12px;
}
.container-c{
    display:flex;
    flex-direction: row;
    height:85vh;
    color:#fffffc;
    margin:90px;
    align-items: center;
    justify-content: center;
    
    
   
}
.content-box1{
    background-color: #023E8A;
    border: 2px solid #fffffc;
    height:50.5vh;
    flex:1;
    justify-content: space-around;
    
    

}
.container-c img{
    height:50vh;
    border-top: 2px solid #fffffc;
    border-left: 2px solid #fffffc;
    border-bottom:2px solid #fffffc;
    flex:50%;
    
}
.head{
    font-size:36px;
    
}
.we{
    font-size:13px;
    
}
.small{
    font-size: 12px;
    color: #466870;
    margin-left:50px;
    
}
.words{

    flex:50%;
}
.container-3 h3{
    font-size:18px; 
    color:#fffffc; 
    margin-left:10px;
}
.container-3 h1{
    margin-left:50px;
    font-size: 36px;
    color:#fffffc;
}
.container-3 p{
    font-size:12px;
    color:#fffffc;
    margin-top: 20px ;
    margin-left:10px;
    font-weight: 600px;
}
.container-3 img{
    border:none;
    height:10vh;
}


.container-d{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    
    
    
}
.container-e{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:60px;
      
}
.content-box2{
    background-color: #023E8A;
    border: 2px solid #fffffc;
    color: white;
    height:30vh;
    border-radius:5px;
    width:25%;
    
 
}
.content-box3{
    background-color: #E5E5E5;
    border: 2px solid #fffffc;
    color: white;
    height:30vh;
    border-radius:5px;
    width:25%;
}
.container-4 p{
    font-size:14px;
    color: #060202;
    margin:10px;
}
.content-box3 span{
    font-size:14px;
}
.container-4{
    display:flex;
    flex-direction:column;
    
}
.container-4 h3{
    color: #1D7F96;
    margin:10px;
}
.container-4 h4{
    color:#E5E5E5;
    margin:30px;
    margin-left:50px;
    
}
.container-4 h1{
    margin-left:50px;
    font-size: 36px;
    color:#fffffc;
}
.container-5 h1{
    margin:30px;
    margin-left:50px;
    font-size: 36px;
    color:#fffffc;
}
.container-5 h3{
    color: #1D7F96;
    margin:10px;
}
.container-5 p{
    font-size:14px;
    color: #060202;
    margin:10px;
}
.container-5 h4{
    margin:30px;
    margin-left:50px;
}
@media  screen and (max-width:1024px){
    .home{
        background:linear-gradient(180deg, #1D7F96 0%, rgba(99, 180, 199, 0.79875) 47.92%, rgba(29, 127, 150, 0.58) 100%), #CAF0F8;
       
    }
    nav{
        margin:20px;
        padding:15px;
        padding-top:5px;
        margin-top:5px;
    }
    a{
        color:#023E8A;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        padding-left: 30px;
    }
    span{
        font-weight: bold;
        font-size: 48px;
        line-height: 42px;
        color:#023E8A;
    }
    .ov{
        color: #48CAE4;
    }
    
    button{
        background-color:#023E8A;
        cursor: pointer;
        font-style: normal;
        font-weight: 800;
        line-height: 15px;
        height: 6vh;
        border-radius:5px;
        color: #fffffc;
        width: 25%;
        border: 1px solid #fffffc; 
        padding-top:10px;
        margin-top:10px;
        margin:20px;
        padding:20px;
       
    }
    .btn1{
        background-color: #48CAE4;
        width:20%;
        
    }
    h1,h2,h3,h4,h5,h6{
        font-weight:800;
        font-family: 'Raleway', sans-serif;
    }
    .container-a{
        display:flex;
        flex-direction: column;
        text-align: justify;
        margin:20px;
        padding:15px;
        font-size: 20px;
        width:60%;
        
        
    
    }
    .main{
        font-size: 60px;
        word-wrap: normal;
        
        
    }
    .two{
        color:#060202;
        font-weight: 600px;
    }
    .btn3{
        width:30%;
        margin-top:20px;
    }
    .container-b{
        display: flex;
        text-align: left;
        color:#060202;
        
    }
    .content-box{
        background-color:#fffffc;
        border-radius:5px;
        margin:20px;
        padding:20px;
        padding-top:10px;
        height:20vh;
        width:30%;
    }
    #box{
        height: 6vh;

} 

